<ion-content padding class="mainContent">
  <div no-margin margin-top class="feedbackCard">
    <div id="clipboard">
      <div class="custom-border">
        <h2 style="color:white">PERFORMANCE</h2>
        <span style="color:white">Letrando</span>
        <!-- <a href="https://letrando.xyz" style="text-decoration: none">Letrando</a> -->
        <ion-item-divider style="margin-top:20px;"></ion-item-divider>
        <div class="performance">
          <b>{{wordsStorage.score}}</b>
          <p>PONTOS</p>
          <ion-label><ion-icon name="ellipse" color="secondary" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
          <b>{{wordsStorage.success}}</b>
          <p>ACERTOS</p>
          <ion-label><ion-icon name="ellipse" color="success" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
          <b>{{wordsStorage.errors}}</b>
          <p>ERROS</p>
          <ion-label><ion-icon name="ellipse" color="danger" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
          <b>{{wordsStorage.success + wordsStorage.errors}}</b>
          <p>TOTAL</p>
          <ion-label><ion-icon name="ellipse" color="primary" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
        </div>
        <div class="average">
          <b>{{average}}</b>
          <p>MÉDIA DE TENTATIVAS</p>
          <ion-label><ion-icon name="ellipse" color="warning" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
        </div>
        <ion-grid >
          <ion-row *ngIf="statusFirstRow.length > 0">
            <ion-col *ngFor="let w of statusFirstRow">
              <p style="color:white">
                {{w.word }}
                <span *ngIf="w.status === 'success'">✅</span>
                <span *ngIf="w.status === 'fail'">❌</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="statusSecondRow.length > 0">
            <ion-col *ngFor="let w of statusSecondRow">
              <p style="color:white">
                {{w.word }}
                <span *ngIf="w.status === 'success'">✅</span>
                <span *ngIf="w.status === 'fail'">❌</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="statusThirdRow.length > 0">
            <ion-col *ngFor="let w of statusThirdRow">
              <p style="color:white">
                {{w.word }}
                <span *ngIf="w.status === 'success'">✅</span>
                <span *ngIf="w.status === 'fail'">❌</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item-divider></ion-item-divider>
        <br><br>
      </div>
    </div>
    <div class="footer">
      <div *ngFor="let item of sharingList" class="logoList">
        <ion-img class="socialLogo" [src]="item['logo']" style="width: 40px; height: 40px;"></ion-img>
      </div>
    </div>
    
    <div id="capture" style="padding: 10px; background: #f5da55">
      <h4 style="color: #000; ">Hello world!</h4>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="shareCustomImage()">To Canvas</button>

    <ion-button class="btn" (click)="copyToClipboard()">
      Compartilhe <ion-icon name="share-social-outline" style="padding-left:5px;padding-top:2px;"></ion-icon>
    </ion-button>
    <br>
    <ion-button class="btn" (click)="closeModal()" fill="clear">
      Fechar
    </ion-button>
  </div>
</ion-content>