<ion-content padding class="mainContent">
  <div no-margin margin-top class="feedbackCard">
    <div id="clipboard">
      <div class="custom-border">
        <h2>PERFORMANCE</h2>
        <p>Letrando</p>
        <a href="https://letrando.xyz" style="text-decoration: none">https://letrando.xyz</a>
        <ion-item-divider style="margin-top:20px;"></ion-item-divider>
        <div class="performance">
          <b>{{wordsStorage.score}}</b>
          <p>PONTOS</p>
          <ion-label><ion-icon name="ellipse" color="secondary" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
          <b>{{wordsStorage.success}}</b>
          <p>ACERTOS</p>
          <ion-label><ion-icon name="ellipse" color="success" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
          <b>{{wordsStorage.errors}}</b>
          <p>ERROS</p>
          <ion-label><ion-icon name="ellipse" color="danger" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
          <b>{{wordsStorage.success + wordsStorage.errors}}</b>
          <p>TOTAL</p>
          <ion-label><ion-icon name="ellipse" color="primary" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
        </div>
        <div class="average">
          <b>{{average}}</b>
          <p>MÉDIA DE TENTATIVAS</p>
          <ion-label><ion-icon name="ellipse" color="warning" style="padding: 5px; margin-bottom: 2px;"></ion-icon></ion-label>
        </div>
        <ion-grid *ngIf="statusFirstRow.length > 0">
          <ion-row>
            <ion-col *ngFor="let w of statusFirstRow">
              <p>
                {{w.word }}
                <span *ngIf="w.status === 'success'">✅</span>
                <span *ngIf="w.status === 'fail'">❌</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="statusSecondRow.length > 0">
          <ion-row>
            <ion-col *ngFor="let w of statusSecondRow">
              <p>
                {{w.word }}
                <span *ngIf="w.status === 'success'">✅</span>
                <span *ngIf="w.status === 'fail'">❌</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <div class="words" *ngIf="wordsStorage.status.length > 0">
          <p *ngFor="let w of wordsStorage.status">
            {{w.word }}
            <span *ngIf="w.status === 'success'">✅</span>
            <span *ngIf="w.status === 'fail'">❌</span>
          </p>
        </div> -->
        <ion-item-divider></ion-item-divider>
        <br><br>
      </div>
    </div>
    <div class="footer">
      <div *ngFor="let item of sharingList" class="logoList">
        <ion-img class="socialLogo" [src]="item['logo']" style="width: 50px; height: 50px;"></ion-img>
      </div>
    </div>
    <ion-button class="btn" (click)="copyToClipboard()">
      Compartilhe <ion-icon name="share-social-outline" style="padding-left:5px;padding-top:2px;"></ion-icon>
    </ion-button>
    <br>
    <ion-button class="btn" (click)="closeModal()" fill="clear">
      Fechar
    </ion-button>
  </div>
</ion-content>