/service/node_modules
/service/.tmp
/service/.env
/service/*.log
/service/log.txt
/service/npm-debug.log*

/backend_v2/node_modules
/backend_v2/.tmp
/backend_v2/.env
/backend_v2/*.log
/backend_v2/log.txt
/backend_v2/npm-debug.log*

/webScraping/node_modules
/webScraping/.tmp
/webScraping/.env
/webScraping/*.log
/webScraping/log.txt
/webScraping/npm-debug.log*

/scheduledService/node_modules
/scheduledService/.tmp
/scheduledService/.env
/scheduledService/*.log
/scheduledService/log.txt
/scheduledService/npm-debug.log*

/frontend/.angular
/frontend/.idea
/frontend/.ionic
/frontend/.sass-cache
/frontend/.sourcemaps
/frontend/.versions
/frontend/.vscode
/frontend/coverage
/frontend/dist
/frontend/node_modules
/frontend/platforms
/frontend/plugins
/frontend/www

/frontend/.tmp
/frontend/.env
/frontend/*.log
/frontend/log.txt
/frontend/npm-debug.log*