<ion-content padding style="text-align:cemter;">
  <ion-grid class="ion-text-center">
    <ion-row *ngIf="type !== 'finished'">
      <ion-col size="12">
        <ion-label *ngIf="type === 'success'" color="success" style="font-weight: bold;"><h1>{{congratsWord}} 😎</h1></ion-label>
        <ion-label *ngIf="type !== 'success'" style="font-weight: bold;color:#FA8072;"><h1>{{congratsWord}} 😕</h1></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="type !== 'finished'">
      <ion-col size="12">
        <ion-label *ngIf="type === 'success'" color="success" style="font-weight: bold;"><h1>Acertou na {{attempts}}ª tentativa! 🔥</h1></ion-label>
        <ion-label *ngIf="type !== 'success'" style="font-weight: bold;color:#FA8072;"><h1>A palavra correta é:</h1></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="type === 'finished'" style="margin-top: 30px;">
      <ion-col size="12">
        <ion-label color="primary" style="font-weight: bold;"><h1>Compartilhe seu desempenho 🔥</h1></ion-label>
        <ion-row style="margin-top: 30px;">
          <ion-col size="4">
            <ion-label>🏆</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>Pontos</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>{{wordsStorage.score}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>✅</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>Acertos</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>{{wordsStorage.success}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>❌</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>Erros</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>{{wordsStorage.errors}}</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="type !== 'finished'">
      <ion-col size="12">
        <ion-label *ngIf="type === 'success'" color="success" style="font-weight: bold;text-decoration: underline;"><h1>{{word}}</h1></ion-label>
        <ion-label *ngIf="type !== 'success'" color="danger" style="font-weight: bold;text-decoration: underline;"><h1>{{word}}</h1></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="type !== 'finished'">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="color:white">
              Uso na frase
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="text-align:left !important;color:white !important;">{{font}}</p><br>
            <p style="text-align:center;color:white !important;" *ngFor="let p of phrase">{{p}}</p><br>
            <p style="text-align:left !important;color:white !important;">{{author}}</p><br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" expand="block" color="primary" (click)="closeModal()">{{buttonTitle}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>