<ion-chip outline color="warning" id="triggerInfo">
  <ion-icon name="information-circle-outline" style="margin-right:5px;"></ion-icon>
</ion-chip>
<ion-modal trigger="triggerInfo"
  [breakpoints]="[0.1, 0.6, 1]"
  [initialBreakpoint]="1"
  [backdropDismiss]="true"
>
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title slot="start" style="color:white">Info & Regras</ion-title>
        <ion-buttons slot="start"><span style="color:white">{{version}}</span></ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()"><ion-icon name="close-circle-outline" style="color:white"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="info_and_rules">
      <ion-accordion-group>
        <ion-accordion value="">
          <ion-item slot="header">
            <ion-label>Regras</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <ion-label>7 palavras por dia</ion-label>
              <ion-icon slot="end" name="checkmark-done-outline" style="color:white"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>5 tentativas por palavra</ion-label>
              <ion-icon slot="end" name="checkmark-done-outline" style="color:white"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>Palavras sobre temas diversos</ion-label>
              <ion-icon slot="end" name="checkmark-done-outline" style="color:white"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-accordion-group>
                <ion-accordion value="colors">
                  <ion-item slot="header">
                    <ion-label>Pontuação</ion-label>
                  </ion-item>
        
                  <ion-list slot="content">
                    <ion-item>
                      <ion-label>Acerto sem ajuda = 5 pontos</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Ver significado -1 ponto</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Ver sinônimos -1.5 pontos</ion-label>
                    </ion-item>
                    <!-- <ion-item>
                      <ion-label>Ver uso na frase -2 pontos</ion-label>
                    </ion-item> -->
                  </ion-list>
                </ion-accordion>
              </ion-accordion-group>
            </ion-item>
            <ion-item>
              <ion-label>'ENTER' para validar a tentativa</ion-label>
              <ion-icon slot="end" name="checkmark-done-outline" style="color:white"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>letra existe e está na posição correta</ion-label>
              <ion-icon name="ellipse" color="success"></ion-icon>
            </ion-item> 
            <ion-item>
              <ion-label>letra existe e está na posição incorreta</ion-label>
              <ion-icon name="ellipse" color="warning"></ion-icon>
            </ion-item> 
            <ion-item>
              <ion-label>letra não existe</ion-label>
              <ion-icon name="ellipse" color="black"></ion-icon>
            </ion-item> 
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
    <ion-footer>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/inspiration.png" />
        </ion-avatar>
        <ion-label style="padding-top:5px;">
          <h2>Inspirado no game <a href="https://term.ooo/" target="_blank"  style="margin-left:5px;">TERMO</a></h2>
        </ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="assets/help.png" />
        </ion-avatar>
        <ion-label style="padding-top:5px;">
          <h2>Fontes de ajuda/estudo</h2>
          <div style="display:flex;justify-content: left;">
            <a href="https://www.ime.usp.br/~pf/dicios/index.html" target="_blank">Base de dados</a>
            <a href="https://github.com/ThiagoNelsi/dicio-api" target="_blank" style="margin-left:5px;"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://github.com/ianlenehan/wordle-clone" target="_blank" style="margin-left:5px;"><ion-icon name="logo-github"></ion-icon></a>
          </div>
        </ion-label>
      </ion-item> -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://avatars.githubusercontent.com/u/9452793?v=4" />
        </ion-avatar>
        <ion-label style="padding-top:5px;">
          <h2>By Flávio Alvarenga</h2>
          <div style="display:flex;justify-content: left;">
            <p>Fullstack Developer</p>
            <a href="https://github.com/flavio-fgjj" target="_blank"  style="margin-left:5px;"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://www.linkedin.com/in/fl%C3%A1vio-de-almeida-alvarenga-82a2b177/" target="_blank" style="margin-left:5px;"><ion-icon name="logo-linkedin"></ion-icon></a>
          </div>
        </ion-label>
      </ion-item>
    </ion-footer>
  </ng-template>
</ion-modal>
