<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title size="large" class="pageTitle">
        Word Game
      </ion-title>
    </ion-buttons>
    <ion-button *ngIf="alreadyStarted" slot="end" 
      size="medium" 
      (click)="handleExtraHelpButtonClick()"
      data-toggle="tooltip" data-placement="bottom" title="Ajuda">
      Ajuda <ion-icon name="help-circle-outline" style="margin-left:5px;margin-right:10px;"></ion-icon>
    </ion-button>
    <!-- <ion-button *ngIf="alreadyStarted" slot="end" color="warning" 
      style="margin-left: 5px;margin-right:10px;" 
      (click)="handleExtraHelpButtonClick()"
      data-toggle="tooltip" data-placement="bottom" title="Ajuda extra">
      <ion-icon name="add-circle-outline" style="margin-left: 8px;"></ion-icon><ion-icon name="help-circle-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  
  <div id="container">

    <ion-item-group style="display:inline-block;margin-top:5px;border: none !important;" *ngIf="!alreadyStarted">
      <ion-item>
        <ion-button *ngIf="!alreadyStarted" color="dark" (click)="start()" class="ion-text-center" style="margin-left: 20px;margin-top:5px;">Começar!</ion-button>
      </ion-item>
    </ion-item-group>

    <div id="board-container">
      <span class="process" *ngIf="alreadyStarted">{{grammaticalClass}} | {{actual}} de {{limitTry}}</span>
      <span class="meaning" style="text-align: center;padding-top: -10px;">{{meaning}}</span>
      <ion-item-divider class="customDivider"></ion-item-divider>

      <div id="board_try1" class="hide">
        <P>1</P>
        <div *ngFor="let div of wordSquares" class="square animate__animated" id="{{div.id}}_try1">
        </div>
      </div>
      <div id="board_try2" class="hide">
        <P>2</P>
        <div *ngFor="let div of wordSquares" class="square animate__animated" id="{{div.id}}_try2">
        </div>
      </div>
      <div id="board_try3" class="hide">
        <P>3</P>
        <div *ngFor="let div of wordSquares" class="square animate__animated" id="{{div.id}}_try3">
        </div>
      </div>
      <div id="board_try4" class="hide">
        <P>4</P>
        <div *ngFor="let div of wordSquares" class="square animate__animated" id="{{div.id}}_try4">
        </div>
      </div>
      <div id="board">
        <P>&nbsp;&nbsp;</P>
        <div *ngFor="let div of wordSquares" class="square animate__animated" [id]="div.id">
        </div>
      </div>
    </div>

    <div id="divError" style="text-align: center;">
      <span id="errorMessage" class="error-message hide">{{ errorMessage }}</span>
      <ion-item-divider id="errorMessageHr" class="customDivider hide"></ion-item-divider>
    </div>

  </div>
  <div id="keyboard-container">
    <div class="keyboard-row">
      <button data-key="q" (click)="updateGuessedWords('q')">q</button>
      <button data-key="w" (click)="updateGuessedWords('w')">w</button>
      <button data-key="e" (click)="updateGuessedWords('e')">e</button>
      <button data-key="r" (click)="updateGuessedWords('r')">r</button>
      <button data-key="t" (click)="updateGuessedWords('t')">t</button>
      <button data-key="y" (click)="updateGuessedWords('y')">y</button>
      <button data-key="u" (click)="updateGuessedWords('u')">u</button>
      <button data-key="i" (click)="updateGuessedWords('i')">i</button>
      <button data-key="o" (click)="updateGuessedWords('o')">o</button>
      <button data-key="p" (click)="updateGuessedWords('p')">p</button>
    </div>
    <div class="keyboard-row">
      <div class="spacer-half"></div>
      <button data-key="a" (click)="updateGuessedWords('a')">a</button>
      <button data-key="s" (click)="updateGuessedWords('s')">s</button>
      <button data-key="d" (click)="updateGuessedWords('d')">d</button>
      <button data-key="f" (click)="updateGuessedWords('f')">f</button>
      <button data-key="g" (click)="updateGuessedWords('g')">g</button>
      <button data-key="h" (click)="updateGuessedWords('h')">h</button>
      <button data-key="j" (click)="updateGuessedWords('j')">j</button>
      <button data-key="k" (click)="updateGuessedWords('k')">k</button>
      <button data-key="l" (click)="updateGuessedWords('l')">l</button>
      <div class="spacer-half"></div>
    </div>
    <div class="keyboard-row">
      <button data-key="enter" class="wide-button" (click)="handleSubmitWord()">Enter</button>
      <button data-key="z" (click)="updateGuessedWords('z')">z</button>
      <button data-key="x" (click)="updateGuessedWords('x')">x</button>
      <button data-key="c" (click)="updateGuessedWords('c')">c</button>
      <button data-key="v" (click)="updateGuessedWords('v')">v</button>
      <button data-key="b" (click)="updateGuessedWords('b')">b</button>
      <button data-key="n" (click)="updateGuessedWords('n')">n</button>
      <button data-key="m" (click)="updateGuessedWords('m')">m</button>
      <button data-key="del" class="wide-button" (click)="handleDeleteLetter()">Del</button>
    </div>
  </div>
  
</ion-content>

<ion-footer collapse="fade">
  <!-- <ion-toolbar >
    <ion-title style="float: left">By Flávio Alvarenga</ion-title>
  </ion-toolbar> -->
  <ion-toolbar >
  <ion-grid>
    <ion-row text-center>
      <ion-col size="6" style="padding-top:15px;"><span>By Flávio Alvarenga</span></ion-col>
      <ion-col size="6" style="text-align: right;">
        <ion-button class="info-button" size="small" (click)="handleInfoButtonClick()">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-footer>