<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title size="medium" class="pageTitle">
        Word Game
      </ion-title>
    </ion-buttons>
    <app-modal-info></app-modal-info>
    <ion-item-group slot="end" style="border: none !important;">
      <ion-item *ngIf="alreadyStarted">
        <ion-badge color="primary">{{ totalSuccess }}</ion-badge>
        <span style="margin-left: 5px;">x</span>
        <ion-badge color="danger" style="margin-left:5px;">{{ totalErrors }}</ion-badge>

          <ion-icon name="share-social-outline" style="padding-left: 5px;padding-top:2px;cursor: pointer;"></ion-icon>

      </ion-item>
      <ion-item *ngIf="!alreadyStarted">
        <ion-chip outline color="secondary" (click)="start()">
          <ion-icon name="play-outline" style="padding-right: 10px;"></ion-icon>
        </ion-chip>
      </ion-item>
    </ion-item-group>
   
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  <ion-modal trigger="triggerHelp"
    [breakpoints]="[0.1, 0.6, 1]"
    [initialBreakpoint]="1"
    [backdropDismiss]="true"
  >
    <ng-template>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title slot="start">Ajuda extra</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-label>Significado</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>{{grammaticalClass}}</ion-card-subtitle>
                    <ion-card-title *ngIf="!meaningSeen">
                      <ion-chip outline color="secondary" (click)="fnMeaningSeen()">
                        <ion-icon name="eye-outline" style="padding-right: 10px;"></ion-icon>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>

                  <ion-card-content *ngIf="meaningSeen" style="text-align: center">
                    {{meaning}}
                  </ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion>
            <ion-item slot="header">
              <ion-label>Sinônimos/Antônimos</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title *ngIf="!synSeen">
                      <ion-chip outline color="secondary" (click)="fnSynSeen()">
                        <ion-icon name="eye-outline" style="padding-right: 10px;"></ion-icon>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content *ngIf="synSeen">
                    <ul>
                      <li>Sinônimos</li>
                      <ol *ngFor="let s of syn">
                        {{s}}
                      </ol>
                      <li>Antônimos</li>
                      <ol *ngFor="let s of ant">
                        {{s}}
                      </ol>
                    </ul>
                  </ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion>
            <ion-item slot="header">
              <ion-label>Uso na frase</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title *ngIf="!phraseSeen">
                      <ion-chip outline color="secondary" (click)="fnPhraseSeen()">
                        <ion-icon name="eye-outline" style="padding-right: 10px;"></ion-icon>
                      </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content *ngIf="phraseSeen">
                    {{font}}<br><br>
                    <p style="text-align:center;" *ngFor="let p of phrase">{{p}}</p><br>
                    {{author}}
                  </ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div id="container" style="padding-right:8px;">
    <div id="board-container">
      <div class="pageError" *ngIf="errorPage">
        <ion-icon name="warning-outline" color="danger"></ion-icon><br>
        <ion-label color="danger">Estamos enfrentando problemas! <br><br>Favor tentar mais tarde! <br><br>Desculpe o transtorno!</ion-label>
      </div>

      <!-- <div *ngFor="let num of limitTryArray; let index = index" id="board_try{{num}}" [class.hide]="index > 0"> -->
      <div *ngFor="let num of limitTryArray; let index = index" id="board_try{{num}}">
        <!-- <P>{{num}}</P> -->
        <div *ngFor="let div of wordSquares" class="square animate__animated" id="{{div.id}}_try{{num}}">
        </div>
      </div>
    </div>
  </div>

  <div id="keyboard-container">
    <div class="keyboard-row" >
      <button *ngFor="let first of keyboardFirstRow" (click)="updateGuessedWords($event)">{{first}}</button>
    </div>
    <div class="keyboard-row">
      <div class="spacer-half"></div>
      <button *ngFor="let second of keyboardSecondRow" (click)="updateGuessedWords($event)">{{second}}</button>
      <div class="spacer-half"></div>
    </div>
    <div class="keyboard-row">
      <button data-key="enter" class="wide-button" (click)="handleSubmitWord()">Enter</button>
      <button *ngFor="let third of keyboardThirdRow" (click)="updateGuessedWords($event)">{{third}}</button>
      <button data-key="del" class="wide-button" (click)="handleDeleteLetter()">Del</button>
    </div>
  </div>
  
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-grid>
      <ion-row text-center>
        <ion-col size="12">
          <ion-chip outline color="secondary">
            <ion-icon name="trophy-outline"></ion-icon>
            PONTOS
            <ion-badge color="secondary" style="margin-left: 10px;">{{score}}</ion-badge>
            <ion-badge color="success" style="margin-left: 10px;">{{totalScore}}</ion-badge>
          </ion-chip>

          <ion-chip id="triggerHelp" outline color="secondary" style="float: right" data-toggle="tooltip" data-placement="bottom" title="Ajuda">
            AJUDA
            <ion-icon name="help-circle-outline" style="margin-left:5px;"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>