#container {
  text-align: center;

  //position: absolute;
  left: 0;
  right: 0;
  //top: 45%;
  top: 0;
  //transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: rgb(245, 216, 138);

  margin: 0;
}

#container a {
  text-decoration: none;
}

// custom
#board-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: hidden;
  padding-top: 10px;

  div {
    display: inline-flex !important;
  }
}

#board, #board_try1, #board_try2, #board_try3, #board_try4 {
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // grid-gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //padding: 10px;
  box-sizing: border-box;

  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.square {
  border: 2px solid darkgray;
  //border: 2px solid #D7C6AB;
  //border: 2px solid #36abe0;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(224, 175, 40);
  //color: orangered;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  border-radius: 40px;

  flex-grow: 1;
  user-select: none;
}

#keyboard-container {
  position: absolute;
  text-align: center;

  //height: 180px;
  margin-left: 5px;
  // margin-right: 5px;

  left: 0;
  right: 0;
  bottom: 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 38px;
  cursor: pointer;
  background-color: #D7C6AB;
  //background-color: #111D12;
  //color: rgb(215, 218, 220);
  color: #111D12;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}

.error-message {
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;

  animation: bounceIn; // referring directly to the animation's @keyframe declaration
  animation-duration: 2s;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.showFlex {
  display: flex;
}

.divider {
  margin-bottom: 21px;
}

.info-button {
  --background: var(--ion-color-btn-info);
  //margin-right: 10px;
}

.footer {
  --background: var(--ion-color-dark-tint);
}

.process {
  width: 100%;
  //color: rgb(245, 216, 138);
  color: var(  --ion-color-medium);
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 10px;
}

.customDivider {
  min-height: 0 !important;
  margin-bottom: 8px;
}

.customPaddingLeft {
  padding-left: 10px;
}

.grammaticalClass {
  width: 100%;
  color: var(  --ion-color-medium);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

.meaning {
  width: 100%;
  color: var(  --ion-color-medium-tint);
  font-size: 0.8rem;
  font-weight: bold;
}

.pageTitle {
  color: var(--ion-color-sucess) !important;
}

::ng-deep {
  .alert-wrapper {
    background-color: #D7C6AB;
    --min-width: 350px;
    --max-width: 350px;
    --width: 350px;
  }
}

.item-inner {
  border-style: none !important;
}

ion-item {
  --border-style: none !important;
}

ol {
  list-style-type: none !important;
}

.pageError {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
}

ion-card {
  width: 100% !important;
}

