<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title size="small" class="pageTitle" style="text-align: center; color: #fff !important;">
        <img src="assets/logo.png" style="width: 50px; height: 40px;" alt="letrando logo"/>
      </ion-title>
      <app-modal-info></app-modal-info>
    </ion-buttons>
    <ion-item-group slot="end" style="border: none !important;">
      
      <ion-item *ngIf="alreadyStarted" style="margin-right:5px;">
        <span style="color: #fff !important">✅ {{ totalSuccess }}</span>
        <span style="margin-left: 10px; color: #fff !important">❌ {{ totalErrors }}</span>
      </ion-item>
      <ion-item *ngIf="!alreadyStarted" style="display:none;">
        <ion-chip outline color="secondary" (click)="start()">
          <ion-icon name="play-outline" style="padding-right: 10px;"></ion-icon>
        </ion-chip>
      </ion-item>
    </ion-item-group>
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  <ion-modal trigger="triggerHelp"
    [breakpoints]="[0.1, 0.6, 1]"
    [initialBreakpoint]="1"
    [backdropDismiss]="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title slot="start" style="color:#fff !important">Ajuda extra</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()"><ion-icon name="close-circle-outline" style="color:white"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card style="width: inherit !important;">
          <ion-item style="color:#fff !important" (click)="fnMeaningSeen()">
            <ion-label>Ver Significado: -1 ponto</ion-label>
            <ion-button fill="outline" slot="end"><ion-icon name="eye-outline"></ion-icon></ion-button>
          </ion-item>

          <ion-card-content *ngIf="wordsStorage.meaning_already_seen" style="text-align: center;color:#fff !important">
            {{meaning}}
          </ion-card-content>
        </ion-card>
        <ion-card style="width: inherit !important;" *ngIf="hasSyn">
          <ion-item style="color:#fff !important" (click)="fnSynSeen()">
            <ion-label>Ver Sinônimos: -1.5 pontos</ion-label>
            <ion-button fill="outline" slot="end"><ion-icon name="eye-outline"></ion-icon></ion-button>
          </ion-item>

          <ion-card-content *ngIf="wordsStorage.syn_already_seen">
            <ul style="color:#fff !important">
              <li>Sinônimos</li>
              <ol *ngFor="let s of syn">
                {{s}}
              </ol>
              <li>Antônimos</li>
              <ol *ngFor="let s of ant">
                {{s}}
              </ol>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div id="container"  >
    <div id="board-container">
      <div class="pageError" *ngIf="errorPage && !alreadyStarted">
        <ion-label color="light"><ion-icon name="warning-outline" color="danger"></ion-icon><br>Estamos enfrentando problemas! <br><br>Favor tentar mais tarde! <br><br>Desculpe o transtorno!</ion-label>
      </div>

      <div class="alreadyDone" *ngIf="areadyDone">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h2>Seu resultado de hoje!</h2>
              <h4>{{wordsStorage.score}} Pontos</h4>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let w of wordsStorage.words; let i = index">
            <ion-col size="8" style="text-align: left;">
              <ion-label>{{w.word}}</ion-label>
            </ion-col>
            <ion-col size="4" style="text-align: right;">
              <ion-label name="checkmark-done-outline" *ngIf="wordsStorage.status[i].status === 'success'">✅</ion-label>
              <ion-label name="checkmark-done-outline" *ngIf="wordsStorage.status[i].status !== 'success'">❌</ion-label>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 8px;">
            <ion-col size="12">
              <ion-button class="btn" (click)="showShareOptions()">
                Compartilhe <ion-icon name="share-social-outline" style="padding-left:5px;padding-top:2px;"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="!errorPage && alreadyStarted">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <span style="color:#fff !important">{{actualWord}}ª das {{words.length}} palavras do dia | <b>{{score}}</b> pontos</span><br>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngFor="let num of limitAttemptsArray; let index = index" id="board_try{{num}}">
        <div *ngFor="let div of wordSquares" class="square animate__animated" id="{{div.id}}_try{{num}}" [attr.data]="div.id" (click)="selectPositionByClick($event)">
        </div>
      </div>
    </div>
  </div>

  <div id="keyboard-container" *ngIf="!areadyDone">
    <div class="keyboard-row">
        <button *ngFor="let first of keyboardFirstRow" id="{{first}}" (click)="updateGuessedWords($event)" style="position: relative;">{{first}}<span class="badge" id="{{first}}_badge"></span></button>
    </div>
    <div class="keyboard-row">
      <div class="spacer-half"></div>
      <button *ngFor="let second of keyboardSecondRow" id="{{second}}" (click)="updateGuessedWords($event)" style="position: relative;">{{second}}<span class="badge" id="{{second}}_badge"></span></button>
      <div class="spacer-half"></div>
    </div>
    <div class="keyboard-row">
      <button data-key="enter" class="wide-button" (click)="handleSubmitWord()">Enter</button>
      <button *ngFor="let third of keyboardThirdRow" id="{{third}}" (click)="updateGuessedWords($event)" style="position: relative;">{{third}}<span class="badge" id="{{third}}_badge"></span></button>
      <button data-key="del" class="wide-button" (click)="handleDeleteLetter()">Del</button>
    </div>
  </div>
  
</ion-content>

<ion-footer collapse="fade" style="background-color:#5c6e68">
  <ion-toolbar>
    <ion-grid>
      <ion-row text-center>
        <ion-col size="12">
          <ion-chip outline color="warning" (click)="showShareOptions()">
            <ion-icon name="bar-chart-outline" style="float: right; margin-right:5px;"></ion-icon>
          </ion-chip>
          <span style="margin-left: 8px; color: #fff !important">🏆 {{ totalScore }}</span>
          <ion-chip id="triggerHelp" outline color="warning" style="float: right; margin-right:5px;" data-toggle="tooltip" data-placement="bottom" title="Ajuda">
            Ver Dicas
            <ion-icon name="help-circle-outline" style="margin-left:5px;"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>